<h1 class="text-3xl">Points</h1>
<a
  routerLink="./create"
  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800"
>
  Create
</a>

<div *ngIf="points == null">
  Loading...
  <!-- <app-loader></app-loader> -->
</div>

<div
  *ngIf="points != null"
  class="relative overflow-x-auto shadow-md sm:rounded-lg mt-3"
>
  <form>
    <label for="default-search" class="mb-2 text-sm font-medium sr-only"
      >Search</label
    >
    <div class="relative">
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="search"
        id="default-search"
        (keyup)="search($event)"
        class="block w-full p-4 pl-10 text-sm border border-gray-300 rounded-lg"
        placeholder="Search by name"
        required
      />
      <button
        type="submit"
        class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2"
      >
        Search
      </button>
    </div>
  </form>

  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-200 dark:text-gray-700"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="points.length == 0">
        <td colspan="4">No records :(</td>
      </tr>
      <tr
        class="bg-white border-b hover:bg-gray-50 dark:hover:bg-gray-50"
        *ngFor="let point of points"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ point.name }}
        </th>
        <td class="px-6 py-4 text-right">
          <a
            [routerLink]="['./', point._id, 'edit']"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline m-2"
            >Edit</a
          >
          <button
            (click)="deletePoint(point._id)"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
