<div class="flex flex-col bg-white px-12">
  <div class="">
    <div class="pl-[116px] pr-[205px] py-8">
      <div class="text-4xl text-black text-center my-2">
        Two Factor Authentication Method
      </div>
    </div>
  </div>
  <div
    class="flex flex-col px-20 md:px-10 md:flex-row items-center justify-center gap-6"
  >
    <div class="max-w-sm p-6 border border-gray-200 rounded-lg shadow">
      <div>
        <h5 class="mb-2 text-2xl text-gray-700">Google Authenticator</h5>
      </div>
      <p class="mb-3 font-normal text-gray-700">
        Google Authenticator is a mobile security application based on
        two-factor authentication (2FA)
      </p>
      <button
        (click)="googleAuth()"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Try It
        <svg
          class="w-3.5 h-3.5 ml-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </button>
    </div>
    <div class="max-w-sm p-6 border border-gray-200 rounded-lg shadow">
      <div>
        <h5 class="mb-2 text-2xl text-gray-700">Email</h5>
      </div>
      <p class="mb-3 font-normal text-gray-700">
        Google Authenticator is a mobile security application based on
        two-factor authentication (2FA)
      </p>
      <button
        (click)="emailAuth()"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Try It
        <svg
          class="w-3.5 h-3.5 ml-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
