<!-- component -->
<div class="flex flex-col bg-white py-4 px-12">
  <div class="py-4">
    <div class="pl-[116px] pr-[205px] py-8">
      <div class="text-4xl text-black text-center my-2">Please set a 2fa method</div>
    </div>
  </div>
  <div
    class="flex flex-col px-20 md:px-10 md:flex-row items-center justify-center gap-6"
  >
    <div>
      <div class="px-9 pt-10 pb-14 bg-yellow-500 rounded-b-lg">
        <div class="text-white space-y-4">
          <h3 class="text-xl font-bold lead-xl bold">Google Authenticator</h3>
          <div class="text-lg font-light">
            Google Authenticator is a mobile security application based on two-factor authentication (2FA)
          </div>
        </div>
        <div class="flex justify-between pt-8">
          <div class="flex flex-col justify-end">
            <a
              class="py-3 px-6 bg-white text-primary-200 paragraph-m rounded-full"
              (click)="googleAuth()"
              >Try it</a
            >
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="px-9 pt-10 pb-14 bg-violet-600 rounded-b-lg">
        <div class="text-white space-y-4">
          <h3 class="text-xl font-bold lead-xl bold">Email</h3>
          <div class="text-lg font-light">
            Use your email easily to set a 2FA.
          </div>
        </div>
        <div class="flex justify-between pt-8">
          <div class="flex flex-col justify-end">
            <a
              class="py-3 px-6 bg-white text-primary-200 paragraph-m rounded-full cursor-pointer"
              (click)="emailAuth()"
              >Try it</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
