<section class="flex text-white">

    <div class="z-0 flex w-full items-center justify-center px-0 text-center md:px-16">
        <div class="z-20 w-full py-6">
            <div class="px-8 mb-4 text-center">
                <h3 class="pt-4 mb-4 text-3xl  font-bold text-[#141d2c]">Forgot Your Password?</h3>
                <p class="mt-6 mb-8 font-semibold text-sm text-gray-700">
                    Lost password? No problem. We've got you covered. Recover it easily here!
                </p>
            </div>

            <form [formGroup]="recoveryPassForm" (ngSubmit)="submitChangePassword()" class="mx-auto w-full px-4 sm:w-2/3 lg:px-0">
                <div class="pb-2 pt-4">
                    <input type="email" formControlName="email" name="email" placeholder="Email"
                        class="block w-full rounded-sm text-black p-4 text-lg border border-solid border-slate-400"
                        autocomplete="off" />
                </div>
                <div class="text-center">
                    <a class="inline-block my-2 text-sm cursor-pointer  text-[#141d2c] align-baseline hover:font-semibold"
                        (click)="showLogin()">
                        <i>Already have an account? Login!</i>
                    </a>
                </div>
                <div class="px-4 pb-2 pt-4 mb-6 ">
                    <button class="block  w-full rounded-full bg-[#141D2C] p-4 text-lg uppercase focus:outline-none">
                        Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>