<h1 class="text-3xl mb-3">Trip Detail</h1>
<div *ngIf="trip == null">
  <div class="text-center">
    <div role="status">
      <svg
        aria-hidden="true"
        class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="trip != null">
  <div class="grid grid-cols-2 gap-2">
    <div class="rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Trip Details</div>
        <p class="text-gray-700 text-base"><b>Status:</b> {{ trip.status }}</p>
        <p class="text-gray-700 text-base"><b>Route:</b> {{ trip.route }}</p>
        <p class="text-gray-700 text-base"><b>Price:</b> {{ trip.price }}</p>
        <p class="text-gray-700 text-base">
          <b>Start at:</b> {{ trip.startDate }}
        </p>
        <p class="text-gray-700 text-base"><b>End at:</b> {{ trip.endDate }}</p>
      </div>
    </div>
    <div class="rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Driver Details</div>
        <p class="text-gray-700 text-base">
          <b>First name: </b>{{ trip.driver?.firstName }}
        </p>
        <p class="text-gray-700 text-base">
          <b>Last name: </b>{{ trip.driver?.lastName }}
        </p>
        <p class="text-gray-700 text-base">
          <b>Email: </b>{{ trip.driver?.email }}
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-2">
    <div class="rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Comments</div>
        <p class="text-gray-700 text-base">
          Feel free to comment anything you want about the driver
        </p>
        <div class="rounded overflow-hidden shadow-lg my-3 px-6 py-4">
          <ul>
            <li *ngFor="let comment of comments">
              <span *ngIf="comment.tripId == trip._id">
                <b>You:</b> {{ comment.comment }}
              </span>
            </li>
          </ul>
        </div>
        <form
          class="bg-white rounded mt-3"
          [formGroup]="tripCommentForm"
          (ngSubmit)="onSubmitComment()"
        >
          <label for="message" class="block mb-2 text-sm font-medium"
            >Your comment</label
          >
          <textarea
            id="message"
            rows="4"
            class="block p-2.5 w-full text-sm rounded-lg border mb-3"
            placeholder="Write your thoughts here..."
            formControlName="comment"
          ></textarea>
          <p class="text-red-700 text-base" *ngIf="!trip.driver">
            You can't comment due to this trip doest not have a driver
          </p>
          <div class="flex items-center justify-between">
            <button
              [disabled]="tripCommentForm.invalid"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Rating</div>
        <p class="text-gray-700 text-base">Please rate this driver</p>
      </div>
    </div>
  </div>
</div>
