<div>
  <h1 class="my-6 text-5xl text-[#2C3333] tracking-wide font-bold">
    Login
  </h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="mx-auto w-full px-4 sm:w-2/3 lg:px-0">
    <div class="pb-2 pt-4">
      <input type="email" formControlName="email" name="email" placeholder="Email"
        class="block w-full rounded-sm text-black p-4 text-lg border border-solid border-slate-400"
        autocomplete="off" />
    </div>
    <div class="pb-2 pt-4">
      <input class="block w-full rounded-sm bg-[#FFF] p-4 text-lg border text-black border-solid border-slate-400"
        type="password" formControlName="password" name="password" placeholder="Password" autocomplete="off" />
    </div>

    <div class="text-center flex justify-between items-center">
      <a class="inline-block my-2 pl-6 text-sm cursor-pointer text-[#141d2c] align-baseline hover:font-semibold"
        (click)="showRegister()">
        <i>Create an account</i>
      </a>
      <a class="text-sm pr-6 cursor-pointer text-primary-600 text-[#141d2c] hover:font-semibold dark:text-primary-500 " 
      (click)="showPasswordRecovery()">
        <i>Forgot password?</i></a>
    </div>

    <div class="px-4 pb-2 pt-4">
      <button class="block w-full rounded-full bg-[#141D2C] p-4 text-lg uppercase focus:outline-none">
        sign in
      </button>
    </div>

  </form>
</div>