<div>
  <h1 class="my-6 text-5xl text-[#2C3333] tracking-wide font-bold text-center">
    Request a Trip
  </h1>
  <form class="mx-auto w-full px-4 sm:w-2/3 lg:px-0">
    <div class="pb-2 pt-4">
      <label
        for="countries"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Origin</label
      >
      <select
        id="countries"
        class="bg-gray-50 text-gray-900 text-sm rounded-lg block w-full p-4"
      >
        <option selected>Choose a point</option>
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="FR">France</option>
        <option value="DE">Germany</option>
      </select>
    </div>
    <div class="pb-2 pt-4">
      <label
        for="countries"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Destination</label
      >
      <select
        id="countries"
        class="bg-gray-50 text-gray-900 text-sm rounded-lg block w-full p-4"
      >
        <option selected>Choose a point</option>
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="FR">France</option>
        <option value="DE">Germany</option>
      </select>
    </div>

    <div class="px-4 pb-2 pt-4">
      <button
        class="block w-full rounded-full bg-[#141D2C] p-4 text-lg uppercase focus:outline-none text-white"
      >
        Request Trip
      </button>
    </div>
  </form>
</div>
