<div class="border border-gray-200 rounded-lg shadow my-2">
  <section>
    <section class="text-gray-600 body-font">
      <div class="container px-20 mx-auto">
        <div
          class="p-5 bg-white flex items-center mx-auto mb-4 rounded-lg sm:flex-row flex-col"
        >
          <div
            class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center flex-shrink-0"
          >
            <img
              src="../../../../assets/img/car.jpg"
            />
          </div>
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h1 class="text-black text-xl title-font font-bold capitalize">
              {{ vehicle?.brand }} {{ vehicle?.model }}
            </h1>
            <div class="py-2">
              <div class="inline-block mr-2">
                <div class="flex pr-2 h-full items-center">
                  <svg
                    class="text-yellow-500 w-6 h-6 mr-1"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <circle cx="12" cy="12" r="9" />
                    <path d="M9 12l2 2l4 -4" />
                  </svg>
                  <p class="title-font font-medium">Soat</p>
                </div>
              </div>
            </div>
            <div class="md:flex font-bold text-gray-800 capitalize">
              <div class="w-full md:w-1/2 flex space-x-3">
                <div class="w-1/2">
                  <h2 class="text-gray-500">Owner</h2>
                  <p (click)="showDriverDetails()" class="hover:cursor-pointer">{{ owner.firstName }} {{ owner.lastName }}</p>
                </div>
                <div class="w-1/2">
                  <h2 class="text-gray-500">Plate</h2>
                  <p>{{ vehicle?.licensePlate }}</p>
                </div>
              </div>
              <div class="w-full md:w-1/2 flex space-x-3">
                <div class="w-1/2">
                  <h2 class="text-gray-500">Year</h2>
                  <p>{{ vehicle?.year }}</p>
                </div>
                <div class="w-1/2">
                  <h2 class="text-gray-500">Model</h2>
                  <p>{{ vehicle?.model }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
