<div *ngIf="isModalOpen" class="fixed top-0 left-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Notifications
          </h3>
        </div>
        <div class="p-6 space-y-6">
            <div *ngIf="notifications.length != 0">
                <div *ngFor="let notification of notifications">
                  <div class="bg-white rounded-lg shadow dark:bg-gray-700 p-4 mb-4">
                    <p class="text-sm text-right leading-relaxed text-black ">
                        {{ notification.status }}
                      </p>
                    <h4 class="text-lg text-left font-semibold text-gray-900 dark:text-white">
                      {{ notification.title }}
                    </h4>
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                      {{ notification.description }}
                    </p>
                    <p class="text-sm leading-relaxed text-blue-400 dark:text-gray-400">
                      {{ notification.link }}
                    </p>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
