<div class="p-2 h-full md:w-60 flex flex-col md:flex hidden bg-[#1E293B]">
  <nav>
    <a
      class="flex items-center text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-[#1E293B] hover:text-white font-semibold"
      routerLink="/"
    >
      <i class="bi bi-house-door-fill text-lg"></i>
      <span class="mx-2" routerLink="home">Home</span>
    </a>
    <a
      class="flex items-center text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-[#1E293B] hover:text-white font-semibold"
      routerLink="/dashboard/trips"
    >
      <i class="bi bi-calendar-check-fill"></i>
      <span class="mx-2">travel history</span>
    </a>
    <a
      class="flex items-center text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-[#1E293B] hover:text-white font-semibold"
      routerLink="/dashboard/see-comments"
    >
      <i class="bi bi-chat-square-text-fill"></i>
      <span class="mx-2">my comments</span>
    </a>
    <a
      *ngIf="roleName === 'Driver'"
      class="flex items-center text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-[#1E293B] hover:text-white font-semibold"
      routerLink="/dashboard/driver-ubications"
    >
      <i class="bi bi-geo-alt-fill text-lg"></i>
      <span class="mx-2">Add Ubications</span>
    </a>
    <a
      *ngIf="roleName === 'Administrator'"
      class="flex items-center text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-[#1E293B] hover:text-white font-semibold"
      routerLink="./points"
    >
      <i class="bi bi-geo-alt-fill text-lg"></i>
      <span class="mx-2">Points</span>
    </a>
  </nav>
</div>
