<button type="button" (click)="toggleModal()"
  class="text-white bg-custom-black font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2">
  <i class="{{icon}} flex text-md items-center  justify-center w-[16px] h-[16px]"></i>
</button>
<div *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-5/12 my-6 mx-auto max-w-6xl">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <div class="flex items-center justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl text-[#203B52] font-bold">
          {{modalTitle}}
        </h3>
        <button
          class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </button>
      </div>
      <div class="w-full flex justify-center relative p-6 flex-auto">
        <form [formGroup]="editVehicleForm" (ngSubmit)="editVehicle()"
          class="px-4 w-4/5 lg:px-0 flex flex-col justify-center">
          <div class="flex space-x-2">
            <div class="pb-2 pt-4">
              <input type="text" formControlName="brand" name="brand" placeholder="brand"
                class="block w-full rounded-sm capitalize text-black p-4 text-lg border border-solid border-slate-400"
                autocomplete="off" />
            </div>
            <div class="pb-2 pt-4">
              <input type="text" formControlName="model" name="model" placeholder="model"
                class="block w-full rounded-sm capitalize text-black p-4 text-lg border border-solid border-slate-400"
                autocomplete="off" />
            </div>
          </div>

          <div class="flex space-x-2">
            <div class="pb-2 pt-4">
              <input type="number" formControlName="year" name="year" placeholder="year"
                class="block w-full rounded-sm capitalize text-black p-4 text-lg border border-solid border-slate-400"
                autocomplete="off" />
            </div>
            <div class="pb-2 pt-4">
              <input type="text" formControlName="licensePlate" name="licensePlate" placeholder="license Plate"
                class="block w-full rounded-sm capitalize text-black p-4 text-lg border border-solid border-slate-400"
                autocomplete="off" />
            </div>
          </div>

          <div class="flex space-x-2">
            <div class="pb-2 pt-4">
              <input type="text" formControlName="soatURL" name="soatURL" placeholder="soat"
                class="block w-full rounded-sm capitalize text-black p-4 text-lg border border-solid border-slate-400"
                autocomplete="off" />
            </div>
            <div class="pb-2 pt-4">
              <input
                class="block w-full capitalize rounded-sm bg-[#FFF] p-4 text-lg border text-black border-solid border-slate-400"
                type="text" formControlName="propertyCardURL" name="propertyCardURL" placeholder="property Card"
                autocomplete="off" />
            </div>
          </div>

          <div class="pb-2 pt-4">
            <input
              class="block w-full rounded-sm capitalize bg-[#FFF] p-4 text-lg border text-black border-solid border-slate-400"
              type="text" formControlName="mechanicCertificateURL" name="mechanicCertificateURL"
              placeholder="Mechanic Certificate" autocomplete="off" />
          </div>

          <button
            class=" bg-custom-black text-white my-4 active:bg-[#203B52] font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="submit">
            Save Changes
          </button>
        </form>
      </div>
      <i class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"></i>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>