<div class="max-h-screen flex items-center justify-center lg:mt-8">
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="bg-white  p-6 rounded shadow-md w-full sm:w-3/4 md:w-3/4 lg:w-3/4">
      <div class="text-center">
        <h1 class="text-3xl font-semibold text-gray-800 mb-4 underline">PQRS Form</h1>
        <p class="text-black mb-8">Your opinion is valuable to us and helps us enhance our services. Please complete the form below and let us know how we can serve you better.</p>
      </div>
      <div class="mb-4">
        <label for="type" class="block text-gray-700 font-bold mb-2">Type:</label>
        <select id="type" name="type" [(ngModel)]="formData.type" class="w-full px-4 py-2 border rounded-lg bg-gray-100"required>
          <option value="">Select a type</option>
          <option value="requests">Requests</option>
          <option value="complaints">Complaints</option>
          <option value="claims">Claims</option>
          <option value="applications">Applications</option>
        </select>
      </div>
      <div class="flex">
      <div class="mb-4 w-1/2">
        <label for="firstName" class="block text-gray-700 font-bold mb-2">FirstName:</label>
        <input type="text" id="firstName" [(ngModel)]="formData.firstName" name="firstName" class="w-full px-4 py-2 border rounded-lg bg-gray-100" required>
      </div>
      <div class="mb-4 w-1/2 ml-2">
        <label for="lastName" class="block text-gray-700 font-bold mb-2">LastName:</label>
        <input type="text" id="lastName" [(ngModel)]="formData.lastName" name="lastName" class="w-full px-4 py-2 border rounded-lg bg-gray-100" required>
      </div>
    </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-bold mb-2">Email:</label>
        <input type="email" id="email" [(ngModel)]="formData.email" name="email" class="w-full px-4 py-2 border rounded-lg bg-gray-100" required email>
      </div>
      <div class="mb-4">
        <label for="comment" class="block text-gray-700 font-bold mb-2">Description:</label>
        <textarea id="comment" [(ngModel)]="formData.description" name="comment" class="w-full px-4 py-2 border rounded-lg bg-gray-100 resize-none" rows="4" required></textarea>
      </div>
      <div class="flex justify-center">
      <button type="submit" [disabled]="form.invalid" class="w-h-screen flex justify-center bg-[#141D2C] text-white font-bold py-2 px-6 rounded-lg"
        [class.opacity-50]="form.invalid">Send</button>
      </div>
    </form>   
</div>

<footer class="bg-[#141d2c] text-white p-4 mt-4">
  <div class="container mx-auto text-center">
      <p>&copy; 2023 UrbanNav. All rights reserved.</p>
  </div>
</footer>
